header {
  height: 6vh;
  font-family: 'Kaushan Script', cursive;
  font-size: xx-large;
}

main {
  height: 80vh;
  background-image: url(./background-ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

footer {
  height: 14vh;
  z-index: 1;
}

#pirate-ship {
  animation: ship-float 9s ease-in-out infinite;
  z-index: 2;
}

#your-ship {
  animation: ship-float 9s ease-in-out infinite;
  z-index: 2;
}

@keyframes ship-float{
    0%,100% {
        transform: translateY(-5px) rotate(3deg);
    }
    50% {
        transform: translateY(0px) rotate(-3deg);
    }
}

.damaged {
  filter: drop-shadow(2px 4px 6px #ff0000) contrast(1);
}

.hidden{
  display: none !important;
}